@blog0: blog0;

.@{blog0}{
  &-sidebar {
    // display: inline-block;
    position: sticky;
    top: 1rem;
    height: calc(100vh - 1rem);
    // width: 200px;
    // line-height: 46px;
  }

//   &-wrapper {
//     background: @template-content-bg-color;
//   }

}