@import "~antd/lib/style/themes/default.less";

@template-nav-bg-color: #000000;
@template-content-bg-color: rgb(245, 245, 245);
@template-blog-ex-bg-color: rgb(250, 250, 250);
@template-text-color-light: #fff;
@template-text-color-normal: #000000;
@template-text-color-subheader: #8e8e8e;
@template-text-color-blogex: #525252;


.home-page-wrapper p {
    padding: 0;
    margin: 0;
  }